footer{
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    border-top: 2px solid #aaa;
}